<!-- Start of Credits -->
<div class="content-col" style="text-align: center;">
  <div id="titles">
    <div id="credits">
      <div id="the-end">
        Developed by <br />
        Team Starblazer
      </div>

      <br />
      <br />

      <h1>Lead Writer</h1>
      <p>Andy R.</p>
      <br />
      <h1>JavaScript</h1>
      <p>Joe L.</p>
      <br />
      <h1>SQL</h1>
      <p>Justin R.</p>
      <br />
      <h1>Front End</h1>
      <p>Gavin B.</p>
      <br />

      <div class="clearfix"></div>

      <br />
      <br />

      <h1>Special Thanks</h1>
      <br />
      <p>Ron, Josh, Jose, Maksym</p>
      <div class="clearfix"></div>

      <br />
      <h1>Powered by</h1>
      <h1> <img src="/images/node.png"> <img src="/images/jquery.png"> <img src="/images/html5.png"> <img src="/images/css3.png">
      </h1>

      <div class="clearfix"></div>
      <br />
      <br />
      <p>The End</p>
      <p>Thanks for Playing!</p>

    </div>
    <div class="clearfix"></div>
  </div>
</div>

<script src="/js/endcredits.js"></script>