<h1>The End</h1>

<a class="btn btn-lg btn-success" href="#creditos" name="creditos">Open Credits</a>

<!-- Start of Credits -->
<div id="titles">
<div id="credits">
<div id="the-end">Developed by</div>

<br />

<h1>Lead Writer</h1>
<p>Andy R.</p>
<br />
<h1>JavaScript</h1>
<p>Joe L.</p>
<br />
<h1>SQL</h1>
<p>Justin R.</p>
<br />
<h1>Front End</h1>
<p>Gavin B.</p>
<br />

<div class="clearfix"></div>

<br />
<br />

<h1>Special Thanks</h1>
<br />
<p>Ron, Josh, Jose, Maksym</p>
<div class="clearfix"></div>

<br />
<h1>Powered by</h1>
<h1> <img src="/images/microsoft.png"> <img src="/images/windows-azure.png"> <img src="/images/microsoft-bizspark.png"> <img src="/images/node.png"> <img src="/images/jquery.png"> <img src="/images/html5.png"> <img src="/images/css3.png"> </h1>


<div class="clearfix"></div>
<br />
<br />
<p>The End</p>
<div class="fineprint">
  <br>
  The story, all names, characters, and incidents portrayed in this production are fictitious. No identification with actual persons (living or deceased), places, buildings, and products is intended or should be inferred. No animals were harmed in the making of this game. All trademarks are the property of the trademark owners.</div>

</div>
<div class="clearfix"></div>
</div>

<script src="/js/endcredits.js"></script>