<div class="content-col clearfix">

    <div class="image-frame">
        <div class="image-box"></div>
    </div>

    <div class="text-frame">
        <div class="text-title">How to Play</div>
        <div class="text-divide"></div>
        <div class="text-body">During a routine space flight, you and your crew discover an uncharted wormhole. Despite best effots you can't fight the extreme gravitational pull and you find yourself hurling through the unknown. Spit out the other end in tact and utterly lost, you must find your way home to the Orion constellation.
        <br />
        <br />
        Orion Trail is a 'choose your own adventure' style story game with RPG elements. Raise your Crew, Scrap, and Proficiency stats through the choices you make - ultimately deciding your fate.
        <br />
        <br />
        <span>Stats:
        <br />
        <br />
        <img height="13px" src="/images/prof_icon.svg"> 
        </div>
        <div class="text-divide"></div>
        <a href="/"><div class="option-buttons">Home</div></a>
        <a href="/newgame"><div class="option-buttons">New Game</div></a>
    </div>

</div>