<div class="content-col clearfix">

    <div class="image-frame">
        <div class="image-box"></div>
    </div>

    <div class="text-frame">
        <div class="text-title">How to Play Orion Trail</div>
        <div class="text-divide"></div>
        <div class="text-body">XXXXXXXXXXXX</div>
        <div class="text-divide"></div>
        <a href="/"><div class="option-buttons">Home</div></a>
        <a href="/newgame"><div class="option-buttons">New Game</div></a>
    </div>

</div>