<div class="lb-col">
    <div class="text-divide"></div>
    <form>
        Search by Captain Name:<br>
        <input class="create-input char-create" style="width: 84%" type="text" name="charName">
        <input class="lb-sub-button" type="submit" value="Search">
    </form>
    <p style="margin-bottom: 10px;">
        Sort by Top 5 Captains:
    </p>
    <div class="lb-button-box clearfix">
        <div class="lb-button-holder">
            <div class="lb-button" data-stat="scrap">Scrap</div>
        </div>
        <div class="lb-button-holder">
            <div class="lb-button" data-stat="crew">Crew</div>
        </div>
        <div class="lb-button-holder">
            <div class="lb-button" data-stat="prof">Proficiency</div>
        </div>
    </div>

    <div class="text-divide"></div>

</div>


<div id="leaderboard" class="lb-col"></div>




<script type="text/javascript">


    //On-click Functions
    //======================================================

    //On-click function for "scrap"
    

    $(".lb-button").on("click", function (event) {

        event.preventDefault();

        var stat = $(this).attr("data-stat")



        var newStat = {
            stat: stat,

        }

        //left off here

        $.ajax("/api/newchar", {
            type: "POST",
            data: newChar
        }).then(
            function (idReturn) {
                console.log(idReturn);
                console.log("created new character");
                location.href = "/play";
            }
        );
        
    });

    //On-click function for "crew HP"

    $(".lb-crew").on("click", function () {

        //leaderboard.lbDisplay('crew_hp', "Crew HP");

        //console.log("Successfully viewed the 'Crew HP' leaderboard");

    });

    //on-click function for "proficiency"

    $(".lb-prof").on("click", function () {

        //leaderboard.lbDisplay('proficiency_points', "Proficiency Points")

        //console.log("Successfully viewed the 'Proficiency Points' leaderboard");

    });

</script>