<div class="content-col clearfix">

    <div class="image-frame">
        <div class="image-box"></div>
    </div>

    <div class="text-frame">
        <div class="text-title">Who are you?</div>
        <div class="text-divide"></div>
        <div class="text-body">
            <form>
                My name is:<br>
                <input class="char-create-input" type="text" name="charName">
                and I'm the captian of the starship:<br>
                <input class="char-create-input" type="text" name="shipName">
            </form>
        </div>
        <div class="text-divide"></div>
        <div class="option-buttons">Let's Go!</div>
    </div>

</div>