v<!-- TEMPLATE PAGE -->

<div class="content-col clearfix">

    <!-- IMAGE FRAME DOESN'T CHANGE EXCEPT FOR BACKGROUND IMG -->
    <div class="frame-container clearfix">
        <div class="image-frame">
            <div class="stats-bar clearfix">
                <div class="stat-35">
                    Capt Log<br>
                    OT-00<span class="idSpan">{{items.captain_id}}</span>
                </div>
                <div class="stat-20 prof">
                    <img height="13px" src="/images/prof_icon.svg">
                    <span>{{items.proficiency_points}}</span>
                    <div class="stat-text hide-prof">Proficiency</div>
                </div>
                <div class="stat-20 scrap">
                    <img height="12px" src="/images/scrap_icon.svg">
                    <span>{{items.scrap_amount}}</span>
                    <div class="stat-text hide-scrap">Scrap</div>
                </div>
                <div class="stat-20 crew">
                    <img height="12px" src="/images/crew_icon.svg">
                    <span>{{items.crew_hp}}</span>
                    <div class="stat-text hide-crew">Crew</div>
                </div>
            </div>

            <div class="image-box" style="background-image: url('../images/<!-- IMG FILE -->>');"></div>
        </div>
    </div>

    <div class="frame-container clearfix">
        <div class="text-frame">
            <div class="text-title">
                <!-- TITLE TEXT -->
                Derelict Ship - Send an away team and dock with the ship.
                
            </div>
            <div class="text-divide"></div>
            <div class="text-body">
                <!-- BODY TEXT -->
                It’s very cold, and the gravity seems a little light. Following the energy signature, you find what appears to be life or stasis pods with faint life signs.
                
                Wake them up or let the sleeping rest?
            </div>
            <div class="text-divide"></div>

            <!-- CHANGE DATA-ATTRIBUTES FOR EACH CHOICE // CHANGE DATA-CHAP/DATA-PAGE TO THE NEXT PAGE (SAME FOR EACH BUTTON) -->
            <div data-scrap="0" data-crew="0" data-prof="0" data-chap="4" data-page="1a" class="selection1 option-buttons">
                <!-- OPTION TEXT -->
                Wake them up.
                
            </div>
            <div data-scrap="0" data-crew="0" data-prof="0" data-chap="4" data-page="1b" class="selection2 option-buttons">
                <!-- OPTION TEXT -->
                Let Sleep. "They must be sleeping for a reason."
            </div>
            <div data-scrap="0" data-crew="0" data-prof="0" data-chap="0" data-page="0" class="selection3 option-buttons">
                <!-- OPTION TEXT -->
            </div>
            <div data-scrap="0" data-crew="0" data-prof="0" data-chap="0" data-page="0" class="selection4 option-buttons">
                <!-- OPTION TEXT -->
            </div>
        </div>
    </div>

</div>

<script type="text/javascript" src="/js/choice_buttons.js"></script>